{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>DBD Lab</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="static/images/logo.svg" alt="" /></span><span class="title">Software Engineering Lab</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>
                <!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="{{ url_for('home') }}">Home</a></li>
							<li><a href="{{ url_for('about') }}">About</a></li>
							<li><a href="{{ url_for('login') }}">Logout</a></li>
						</ul>
					</nav>
                <div id="main">
						<div class="inner">
							<header>
								<h1>ISE Research Center Management</h1>
                                <br>
								<h2>{{ title_given }}</h2>
								<p> </p>
							</header>
							{% if title_given == "Login" %}
							{% for message in get_flashed_messages() %}
							{{ message }}
							{% endfor %}
							{% endif %}
                            <p> {{ wtf.quick_form(form) }}</p>
							{% if title_given == "Register" %}
							<p><b>Already Registered? Login <a href="{{ url_for('login') }}">here</a>.</b></p>
							{% else %}
							<p><b>New here? <a href="{{ url_for('register') }}">Register</a>.</b></p>
                            <!-- Footer -->
							{% endif %}
			</div>
					</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>