{% import 'bootstrap/wtf.html' as wtf %}
{% include "header.html" %}

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>{{ title }}'s Dashboard</h1>
								<p> What do you want to do today? </p>
							</header>

							<section class="tiles">

								{%for i in range(0, grid_no)%}
								<article class="style{{i%3 + 1}}">
									<span class="image">
										<img  width="200" height="300" src="https://st2.depositphotos.com/3096625/8801/v/600/depositphotos_88010046-stock-illustration-silhouette-graduate-icon-education-logo.jpg" alt="" />
									</span>
									<a href="{{ grid_links[i] }}">
										<h2>{{ grid_options[i] }}</h2>
										<div class="content"></div>
									</a>
								</article>
								{%endfor%}

							</section>
						</div>
					</div>

				<!-- Footer -->


{% include "footer.html" %}

