{% include "header.html" %}
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">-->
<!--<div id="main">-->
<div id="main">
						<div class="inner">
							<header>
								<h1>{{ table_heading }}</h1>
							</header>

<table class="table table-striped table-light">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Guide Id</th>
      <th scope="col">Name</th>
      <th scope="col">Designation</th>
      <th scope="col">Asso. RC</th>
      <th scope="col">Email ID</th>
      <th scope="col">Project ID</th>
    </tr>
  </thead>
  <tbody>
  {% for c in all_guides: %}
    <tr>
      <th scope="row">{{ c.g_id }}</th>
      <td>{{c.g_fname}} {{c.g_mname}} {{c.g_lname}}</td>
      <td>{{c.g_designation}}</td>
      <td>{{c.g_arcenter}}</td>
      <td>{{c.g_email}}</td>
      <td>{{c.g_p_id}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
                </div>
</div>


<!-- Footer -->

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


{% include "footer.html" %}