{% include "header.html" %}
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">-->
<!--<div id="main">-->
<div id="main">
						<div class="inner">
							<header>
								<h1>{{ table_heading }}</h1>
							</header>

<table class="table table-striped table-light">
  <thead class="thead-dark">
    <tr>
      <th scope="col">VTU No.</th>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Reg Category</th>
      <th scope="col">Thesis Title</th>
      <th scope="col">Duration</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ c.vtu_no }}</th>
      <td>{{c.c_fname}} {{c.c_mname}} {{c.c_lname}}</td>
      <td>{{c.c_gender}}</td>
      <td>{{c.reg_category}}</td>
      <td>{{c.thesis_title}}</td>
      <td>{{c.duration_type}}</td>
      <td>{{c.c_email}}</td>
      <td>{{c.c_phone}}</td>
        <td><a href="{{c.c_drive_link}}">Drive Link</a></td>
    </tr>
  </tbody>
</table>
                </div>
</div>


<!-- Footer -->

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


{% include "footer.html" %}