{% include "header.html" %}
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">-->
<!--<div id="main">-->
<div id="main">
						<div class="inner">
							<header>
								<h1>{{ table_heading }}</h1>
							</header>

<table class="table table-striped table-light">
  <thead class="thead-dark">
    <tr>
      <th scope="col">VTU No.</th>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Reg Category</th>
      <th scope="col">Reg Date</th>
      <th scope="col">Thesis Title</th>
      <th scope="col">Duration</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Thesis Phase</th>
      <th scope="col">Project ID</th>
      {% if admin %}
      <th scope="col">Guide ID</th>
      {% endif %}
      <th scope="col">Drive Link</th>
    </tr>
  </thead>
  <tbody>
    {% for c in candidates: %}
    <tr>
      <th scope="row">{{ c.vtu_no }}</th>
      <td>{{c.c_fname}} {{c.c_mname}} {{c.c_lname}}</td>
      <td>{{c.c_gender}}</td>
      <td>{{c.reg_category}}</td>
      <td>{{c.reg_date}}</td>
      <td>{{c.thesis_title}}</td>
      <td>{{c.duration_type}}</td>
      <td><a href="mailto:{{c.c_email}}?subject=RVCE%20PhD%20Thesis:%20(ISE%20Research%20Center)">{{c.c_email}}</a></td>
      <td>{{c.c_phone}}</td>
      <td>{{c.thesis_phase}}</td>
      <td>{{c.c_p_id}}</td>
      {% if admin %}
      <td>{{c.c_g_id}}</td>
      {% endif %}
      <td></td>
        <td><a href="{{c.c_drive_link}}">Drive Link</a></td>
      {% if guide %}
      <td>
          <form action="{{ url_for('update_thesis_status', vtu_no= c.vtu_no)}}" method="post">
                      <input class="btn btn-default" name="submit" type="submit" value="Update Status">
            </form>
      </td>
      {% endif %}
      {% if admin %}
      <td>
          <form action="{{ url_for('delete_candidate', vtu_no= c.vtu_no)}}" method="post">
                      <input class="btn btn-default" name="submit" type="submit" value="Delete Candidate">
            </form>
      </td>
      {% endif %}

    </tr>
    {% endfor %}
  </tbody>
</table>
                </div>
</div>


<!-- Footer -->

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


{% include "footer.html" %}